@import "tailwindcss";

@layer base {
  html {
    font-family: "Popins", sans-serif;
  }

  body {
    background-color: #fdfeff;
    overflow-x: hidden;
  }
}

.scrollbar::-webkit-scrolbar {
  width: 3px;
  height: 3px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #057c8e;
  border-radius: 3px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: rgb(172, 201, 229);
}
